/* You can add global styles to this file, and also import other style files */
html {
    background-image: url(../src/app/image/OIP.jpg);
   
        min-height: 100%;
       
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
     }